version: "3.8"
services:
  ordelyx_db:
    image: postgres:15
    container_name: ordelyx_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - app-network

  ordelyx_app:
    build: .
    container_name: spring_app
    depends_on:
      - ordelyx_db
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "${APP_PORT}:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge