.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  border-bottom: 2px solid var(--color-border);
}

.title {
  display: flex;
  flex: 1;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px !important;
}

.headerAction {
  max-width: fit-content;
}

.actions {
  display: flex;
  flex-direction: row !important;
  gap: 8px;
}

.actionDelete:hover {
  color: var(--color-error) !important;
}

.modalDeleteContainer {
  width: 100%;
  margin: auto;
}

.modalDeleteContent {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px !important;
  padding: 12px;

  font-size: 16px;
}
