.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  border-bottom: 2px solid var(--color-border);
}

.title {
  display: flex;
  flex: 1;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px !important;
}

.headerAction {
  max-width: fit-content;
}
