.registerPage {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-bg);
}

.registerPageContent {
  display: flex;
  flex-direction: column;

  min-width: 360px;
  max-width: 360px;

  background-color: var(--color-bg-card);

  border: solid var(--color-border) 2px;
  border-radius: 8px;
  box-shadow: var(--shadow-card);

  padding: 12px;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerSubText {
  font-size: 14px !important;
  line-height: 1.25rem;
  color: var(--color-text-muted);
}

.registerPageInputs {
  margin-bottom: 12px;
  gap: 8px;
}

.errorMessage {
  margin-top: 8px !important;
  color: var(--color-error) !important;
  font-size: 14px !important;
  text-align: center !important;
}

.registerPageActions {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 8px;
}

.registerMessage {
  color: var(--color-text-muted);
  text-decoration: none;
}

.registerSpanEmphasis {
  color: var(--color-primary);
}

.registerPageSuccess {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  gap: 8px;
}

.registerGoToLoginPage {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  width: fit-content;
}
